@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    overflow: hidden;
}
.mostly-customized-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent;
  }